:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
}

#app-mount .base-3dtUhz {
  top: var(--server-container) !important;
  position: absolute !important;
  left: 0 !important;
}
#app-mount .sidebar-2K8pFh {
  border-radius: 0;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ {
  transform-origin: top left;
  transform: rotate(-90deg);
  height: 100vw !important;
  width: var(--server-container);
  top: var(--server-container);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh) {
  height: auto !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .svg-1X37T1,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-25eVIn,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .placeholderMask-3K9THS {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [role=group] {
  height: auto !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] {
  transform: rotate(90deg) translateY(-50%);
  height: var(--server-size);
  width: 4px;
  top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
  margin-left: -2px;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span {
  height: 100% !important;
  width: 4px !important;
  transform: scale(0, 1) !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-sa6paO {
  height: var(--server-size) !important;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .listItem-2P_4kh {
  width: var(--server-size);
  transform: rotate(90deg);
  margin: var(--server-spacing) 10px;
  position: unset;
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .guildSeparator-3s64Iy {
  transform: rotate(90deg);
  width: var(--server-size);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .wrapper-21YSNc {
  width: var(--server-container);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .expandedFolderBackground-2sPsd- {
  width: var(--server-size);
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
#app-mount .wrapper-1Rf91z.guilds-1SWlCJ .folder-21wGz3 {
  background: transparent;
}
#app-mount .listItemTooltip-CDcY8J {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}
#app-mount .listItemTooltip-CDcY8J .tooltipPointer-3ZfirK {
  transform: rotate(180deg);
  top: -5px;
  right: unset;
  left: 13px;
  z-index: 1;
}
#app-mount .friendsOnline-2JkivW {
  position: absolute;
  transform: translate(-50%, 50%);
  top: calc(-50% + var(--server-spacing));
  left: calc(-50%);
  width: calc(var(--server-size) + var(--server-spacing));
  display: flex;
  justify-content: center;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6 {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz {
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh {
  height: var(--server-size) !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh .wrapper-1BJsBx {
  height: 100% !important;
}
#app-mount .guilds-1SWlCJ .frame-oXWS21.listItem-2P_4kh .button-Jt-tIg {
  width: 100%;
  height: 100% !important;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}

html.platform-osx #app-mount .typeMacOS-3EmCyP {
  width: 100%;
}
html.platform-osx #app-mount .base-3dtUhz {
  top: calc(var(--server-container) + 30px) !important;
}

body.foldercontentopened .base-3dtUhz {
  transition: 0.2s ease !important;
}
:root {
    --HSL-size: 35px; /* Size of Server Icons */
    --HSL-spacing: 10px; /* Space between servers */
    --HSL-roundness: 50%; /* Server non hovered and selected */
    --HSL-roundnessHover: 20%; /* Server hovered */
}
#app-mount > div[class*="titleBar"] > div[class*="wordmark"] {
  margin-top: .2rem;
}

#app-mount > div[class*="titleBar"] {
  display: grid;
  justify-content: right;
  grid-template-columns: min-content min-content min-content;
  direction: rtl;
  height: 1.72rem;
  margin: 5px 0px 0px 0px;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] {
  height: unset;
  display: grid;
  width: 2.9rem;
  height: 1.72rem;
}

#app-mount > div[class*="titleBar"] > div[class*="winButton"] > svg {
  height: 100%;
  width: 100%;
}

#app-mount > div[class*="app"] {
  margin-top: -.18rem;
}
.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1 {
    filter: blur(5px);
    transition: filter .5s;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1:hover{
    filter: blur(0);
}

div[aria-label="Explore Public Servers"]{ display: none; }

.winButton-iRh8-Z{
  color: #7289da;
}

@keyframes bruh {
  0%{background-position:2% 0%}
	25%{background-position:66% 100%}
	50%{background-position:99% 100%}
	75%{background-position:66% 100%}
	100%{background-position:2% 0%}
}
:root {
  --margin: 3px;
  --color6: #00ff00;
  --color2: #0000ff;
	--color4: #ff0000;
	--color3: #ffff00;
  --color5: #19ff19;
	--color1: #00ffff;
  --degree: 10deg;
  --animationDuration: 7s;
  --titlebarOpacity: 0.6;
}
.app-2rEoOp{
  margin: var(--margin);
  border-radius: var(--rounded-corners);
  overflow: hidden;
  box-shadow: var(--elevation-high);
}
.app-1q1i1E {
  background: none;
}
.appMount-3lHmkl {
  background: linear-gradient(var(--degree), var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6));
  background-size: 300% 300%;);
  background-size: 300% 300%;
  animation: bruh var(--animationDuration) ease-in-out infinite;
}
.withFrame-haYltI {
  margin-top: 0 !important;
  padding-top: 3px;
}
.titleBar-AC4pGV {
  background: rgba(0,0,0,var(--titlebarOpacity));
}
.guilds-1SWlCJ
{
  padding-top: 2px;
  padding-bottom:7px;
}
.wordmarkWindows-1v0lYD {
  color: #999999;
}

.navList-1Y3exK {
    display: none;
  }
  .contentWrapper-2txmjs {
    padding-top: 0;
  }
  .wrapper-1rqM3x, .container-3ISnnM {
    margin-top: -15px;
  }
  .emojiPickerInExpressionPicker-3IzIcv .categoryList-2Kzf65 {
    transform: rotate(-90deg) translateX(-143px) translateY(190px);
    height: 430px;
  }
  
  .listItems-1uJgMC .categoryItem-1D0nxC, .unicodeShortcut-15J8Ck {
    transform: rotate(90deg);
  }
  
  .emojiPickerInExpressionPicker-3IzIcv .emojiPicker-3PwZFl{
    grid-template-rows: 46px auto calc(56px + 48px);
    grid-template-columns: 0 auto;
    position: relative;
  }
  .drawerSizingWrapper-27qFHb {
    max-width: 424px;
  }
  .resizeHandle-2VYGet {
    display: none;
    cursor: default;
  }
/*reaction emoji picker*/
.categoryList-2Kzf65 {
    transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(-143px) translateY(190px);
    height: 430px;
}
.emojiPicker-3PwZFl {
    grid-template-rows: 46px auto calc(56px + 48px) !important;
    grid-template-columns: 0 auto !important;
    position: relative !important;
}
.emojiPicker-3PwZFl {
    height: 440px;
    width: 428px;
}

.hljs{
  display:block;
  overflow-x:auto;
  padding:.5em;
  color:#abb2bf;
  background:#282c34
}

.hljs-comment, .hljs-quote{
  color:#5c6370;
  font-style:italic
}

.hljs-doctag, .hljs-keyword, .hljs-formula{
  color:#c678dd
}

.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst{
  color:#e06c75
}

.hljs-literal{
  color:#56b6c2
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string{
  color:#98c379
}

.hljs-built_in, .hljs-class .hljs-title{
  color:#e6c07b
}

.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number{
  color:#d19a66
}

.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title{
  color:#61aeee
}

.hljs-emphasis{
  font-style:italic
}

.hljs-strong{
  font-weight:bold
}

.hljs-link{
  text-decoration:underline
}

.rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(1){
    animation: internetRTCAnim 2s infinite linear;
}

.rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(2){
    animation: internetRTCAnim 1.5s infinite linear;
}

.rtcConnectionStatus-2-jIsi .ping-2NgC8E rect:nth-child(3){
    animation: internetRTCAnim 2.5s infinite linear;
}

@keyframes internetRTCAnim{
    0%, 100%{height: 100%;y:0;}
    50% {height: 25%;y:9;}
}

.listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
    background: url("https://i.imgur.com/ibXk3u9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-top: -2px;
}
 
.homeIcon-tEMBK1 path {
    fill: transparent;
}

.homeIcon-tEMBK1 {
  color: #7289da;
}

.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  100% {
    transform: rotate(-15deg);
  }
}

search-36MZv- {
    display: none;
}

.wordmark-2iDDfm:after {
  content: "GooodGame";
  font-size: 16px;
	font-family: franklin gothic medium;
  font-weight: 700;
  color: #f0f0f0;
  position: absolute;
  width: 4000px;
  top: 5px;
  right: -75px;
  padding-left: -3px;

}

.wordmark-2iDDfm > svg{
  width: 0px;
}

a.pc-anchor[href="https://support.discordapp.com"] {
    display: none
}
svg[name="Nova_Help"] {
    display: none;
}
.pc-iconWrapper {
    margin: 0;
}
.pc-iconWrapper svg {
    margin: 0px 6px;
}

}

@keyframes RGB {
    0% {background-color: rgba(0,0,255,.4);}
    33.33% {background-color: rgba(255,0,0,.4);}
    66.66% {background-color: rgba(0,255,0,.4);}
    100% {background-color: rgba(0,0,255,.4);}
}

[style*='/avatars/176580265294954507/'] {
    background-blend-mode: multiply;
    animation: RGB 1s infinite;
}

@keyframes rainbow {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}
.mention, .wrapper-3WhCwL {
    background: rgba(0, 200, 255, 0) !important;
    color: #00e5ff !important;
    border-color: #00e5ff !important;
    animation: rainbow 6s infinite linear !important;
}


.containerDefault-3GGEv_ {
  text-align: center;
}

.container-2ax-kl {
	  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: rainbow 2s ease infinite;
}

.button-14-BFJ{
  transition: 0.2s;
}
.button-14-BFJ:hover{
  padding-bottom: 5px;
  transition: 0.2;
}
@keyframes pride {
        100%,0%{
            color: rgb(255,0,0);
        }
        8%{
            color: rgb(255,127,0);
        }
        16%{
            color: rgb(255,255,0);
        }
        25%{
            color: rgb(127,255,0);
        }
        33%{
            color: rgb(0,255,0);
        }
        41%{
            color: rgb(0,255,127);
        }
        50%{
            color: rgb(0,255,255);
        }
        58%{
            color: rgb(0,127,255);
        }
        66%{
            color: rgb(0,0,255);
        }
        75%{
            color: rgb(127,0,255);
        }
        83%{
            color: rgb(255,0,255);
        }
        91%{
            color: rgb(255,0,127);
        }
}

.button-14-BFJ{
  transition: 0.2s;
}
.button-14-BFJ:hover{
  padding-bottom: 5px;
  transition: 0.2;
  animation-name: pride;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
div[id="message-actions"] {
  min-width: 0px;
  width: 57px;
  transition: 1s;
}
div[id="message-actions"]:hover {
  min-width: 0px;
  width: 200px;
  transition: 0.5s;
}

.members-1998pB, .members-1998pB>div{
	background-color: #202225;
}
.nowPlayingColumn-2sl4cE{
	background-color: #202225;
}
.emptyCard-1RJw8n{
	background-color: #202225;
}
.theme-dark .body-3iLsc4{
	background-color: #202225;
}
.theme-dark .footer-1fjuF6{
	background-color: #202225;
}
.spotify-seek-bar-progress{
	:root {
  --color6: #00ff00;
  --color2: #0000ff;
	--color4: #ff0000;
	--color3: #ffff00;
  --color5: #19ff19;
	--color1: #00ffff;
  --degree: 10deg;
  --animationDuration: 7s;
  --titlebarOpacity: 0.6;
}
}
:root {
  --text-link: #ff47ca;
}
.nameTag-2IFDfL, .nameTag-m8r81H, .username-2b1r56, .username-3gJmXY, .discriminator-xUhQkU, .headerTagNoNickname-ENx6no, .headerTag-2pZJzA, .size14-3iUx6q, .size16-14cGz5, .nameTag-m8r81H {
  color: ;
 animation: chromaYeet 6s linear infinite; 
}

@keyframes chromaYeet {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}


.scroller-2FKFPG {
	border-radius: 0 !important;
}
.scroller-3sQKXg {
	border-radius: 0 !important;
}
.messages-3amgkR {
	border-radius: 0 !important;
}
.children-19S4PO {
	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
animation: rainbow 2s ease infinite;
}
.name-3YKhmS {
	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}

.lowerBadge-29hYVK {
	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
animation: rainbow 2s ease infinite;
}

@keyframes UwU {
    from {background-color: #6666ff;}
    10% {background-color: #0099ff;}
    50% {background-color: #00ff00;}
    75% {background-color: #ff3399;}
    100% {background-color: #6666ff;}
}

.powercord-spotify .spotify-seek-bar-progress {
    animation: UwU 10s ease-in-out infinite; 
}
.connectedAccount-36nQx7{
  border-radius: 24px;
}
.root-SR8cQa{
  border-radius: 24px;
}
.userPopout-3XzG_A{
  border-radius: 24px;
}
.actionButton-3W1xZa{
  border-radius: 24px;
}
.cardPrimary-1Hv-to{
  border-radius: 24px;
}
.userInfoEditing-1CEzdT{
  border-radius: 24px;
}
.button-38aScr{
  border-radius: 24px;
}
.input-cIJ7To{
  border: 0px;
  border-radius: 24px;
}
.item-26Dhrx{
  border-radius: 24px;
}
.pictureInPictureWindow-1B5qSe{
  border-radius: 24px;
}
.quickMessage-1yeL4E{
  border-radius: 24px;
}
/* gradient */
.headerTop-3C2Zn0{
  background: linear-gradient(180deg, rgba(0,0,0,0.739087358576243) 0%, rgba(0,132,255,0) 100%);
}
.activityUserPopout-2yItg2{
  background: linear-gradient(0deg, rgba(0,0,0,0.739087358576243) 0%, rgba(0,132,255,0) 100%);
}
.header-QKLPzZ{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,132,255,0) 100%);
}
/* colors */
.videoGridWrapper-2BDlMX{
  background-color: #202225;
}
.content-1_NQ-_ {
  background-color: #202225;
  border-radius: 24px 24px 0 0;
}
.fullscreenOnMobile-1bD22y{
  border-radius: 24px;
}
.tile-2QWaFv{
  background-color: #202225;
}
.footer-1fjuF6{
  background-color: #202225;
}
.activityPanel-28dQGo{
  background-color: #202225;
}
.tabBody-3YRQ8W{
  background-color: #202225;
}
.nowPlayingScroller-2XrVUt{
  background-color: #202225;
}
.momentum-2CXCBH{
  background-color: #202225;
}
.privateChannels-1nO12o{
  background-color: #202225;
}
.container-PNkimc{
  background-color: #202225;
}
.container-1giJp5{
  background-color: #202225;
}
.container-3baos1{
  background-color: #202225;
}
.scroller-1JbKMe{
  background-color: #202225;
}
.title-3qD0b-{
  background-color: #202225;
}
.container-1r6BKw.themed-ANHk51{
  background-color: #202225;
}
.messages-3amgkR{
  background-color: #1c1e20;
  border-radius: 24px;
}
.members-1998pB{
  background-color: #202225;
}
.form-2fGMdU{
  background-color: #202225;
}
.content-yTz4x3{
  background-color: #202225;
}
.form-2fGMdU:before{
  display: none;
}
.children-19S4PO:after{
  display: none;
}
.flexCenter-2Y_vCg{
  background-color: #202225;
}
.inner-MADQqc{
  background-color: #202225;
}
.scrollableContainer-2NUZem{
  background-color: #202225;
}
.sidebarRegionScroller-3MXcoP{
  background-color: #202225;
}
.contentRegionScroller-26nc1e{
  background-color: #202225;
}
.autocompleteInner-zh20B_{
  background-color: #202225;
}
.header-2tA9Os{
  background-color: #202225;
  border-radius: 24px 24px 0 0;
}
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG{
  background-color: #202225;
}
.theme-dark .footer-3rDWdC {
  background-color: #202225;
  border-radius: 0px 0 24px 24px;
}
.modal-yWgWj-{
  border-radius: 24px;
  background-color: #202225;
}
.scrollerFade-1Ijw5y{
  background-color: #202225;
}
.theme-dark .container-OI6I9q {
  background-color: #202225;
}
.measurement-DMxQp7{
  background-color: #202225;
}
/* width/height */
.root-SR8cQa{
  width: 900px;
}
.sidebar-2K8pFh{
  width: 300px;
}
.layout-2DM8Md{
  width: 350px;
}
.title-3qD0b-{
  height: 35px;
}
.header-2o-2hj{
  height: 35px;
}
.bannerImage-1jOskm{
  width: 300px;
}
.inner-MADQqc{
  top: 0px;
}
.fontSize16Padding-3Wk7zP{
  top: 0px;
}
.members-1998pB{
  width: 280px;
}
/* Profile */
.headerInfo-30uryT{
  padding-left: 200px;
  padding-right: 0px;
  right: 20px;
}
.avatar-3EQepX{
  left: 200px;
}
.additionalActionsIcon-1FoUlE{
  margin-right: 150px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ{
  left: 200px;
}
.top-28JiJ- .item-PXvHYJ{
  left: 250px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ{
  left: 250px;
}
.hljs-comment {
  color: #495495;
  font-style: italic;}
.hljs-string {
  color: #00c370}
.hljs-keyword {
  color: #ff5087}
.hljs-number {
  color: #008af2}
.hljs-title {
  color: #f6c300 !important;}

.profileBadges-2vWUYb {
    flex-wrap: wrap;
}

.replyBadge-bDxE-3{
      background: transparent;
}
.container-1iy2YY{
      width: 100%;
      max-width: unset;
}
.content-2FB3dM{
      opacity: .8;
}
.container-1iy2YY:hover .content-2FB3dM{
      opacity: 1;
}

.avatarSpeaking-3MqCHL {
    box-shadow: inset 0 0 0 2px cyan,inset 0 0 0 3px var(--background-secondary);
    animation: boxshadow 3s linear infinite;
}

@keyframes boxshadow {
    0%, 100% {
        box-shadow: inset 0 0 0 2px cyan,inset 0 0 0 3px var(--background-secondary);;
    }
    25% {
        box-shadow: inset 0 0 0 2px lime,inset 0 0 0 3px var(--background-secondary);;;
    }
    50% {
       box-shadow: inset 0 0 0 2px yellow,inset 0 0 0 3px var(--background-secondary);;; 
    }
    75% {
        box-shadow: inset 0 0 0 2px red,inset 0 0 0 3px var(--background-secondary);;;
    }
}

.attachButtonPlay-3iJ0mf {
  color: var(--spotify-color);
}
.vp-audioviz-bar {
  animation: advzbck 10s linear infinite
}
@keyframes advzbck {
  0%, 100% {
    background-color: #FF9AA2
  }
  17% {
    background-color: #FFB7B2
  }
  34% {
    background-color: #FFDAC1
  }
  51% {
    background-color: #E2F0CB
     
  } 
  68% {
    background-color: #B5EAD7
  } 
  85% {
    background-color: #C7CEEA
  }
  
  
}

.total-members-count:first-child span {
  color: #747F8D;
}

.total-members-count:last-child span {
  color: #3FAC7A;
}

.total-members-count:first-child {
  margin-bottom: 5px;
}

.profileBadgeVerifiedDeveloper-4WY75k {
  zoom: 120%;
  position: relative;
  top: -2px;
}

.topSectionSpotify-1lI0-P, .headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5 {
    background-color: var(--background-tertiary);
}

.topSectionPlaying-1J5E4n,
.headerPlaying-j0WQBV {
   background-color: var(--background-tertiary)
}

.header-QKLPzZ .actionButton-3W1xZa {
    background-color: #43b581;
    color: #ffffff
}

#pinned-messages .edited-3sfAzf {
  display: flex
}

.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
    opacity: 1;
}
.emojiButton-jE9tXC.button-1ZiXG9, .emojiSeparator-10VgEJ.separator-42rNt0 {
    display: none;
}
.mouse-mode .message-2qnXI6:hover {
    background-color: transparent;
}
.mouse-mode .mentioned-xhSam7:hover {
    background: var(--background-mentioned-hover) !important;
}
.unreadPill-2HyYtt {
    left: 45%;
    right: 50%;
    border-radius: 10px;
}
.unreadPillCap-3_K2q2 {
    display: none;
}
.container-3FojY8 {
    padding-top: 0px;
    padding-bottom: 0px;
}
@keyframes rainbow-is-pog {
  0%   {color: violet;}
  20%  {color: indigo;}
  40%  {color: lightblue;}
  60%  {color: green;}
  80%  {color: yellow;}
  100% {color: red;}
}

.usernameContainer-1fp4nu .title-eS5yk3 {
    animation: rainbow-is-pog 10s linear infinite;
}

.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
    opacity: 1;
    background-color: #323232;
    border-radius: 3px;
}

@keyframes rainbow-is-pog {
    from {color: #6666ff;}
    10%  {color: #0099ff;}
    50%  {color: #00ff00;}
    75%  {color: #ff3399;}
    100% {color: #6666ff;}
}

.powercord-spotify .spotify-buttons .contents-18-Yxp {
  animation: rainbow-is-pog 10s ease-in-out infinite;
}


@keyframes rainbow-is-pog {
    from {color: #6666ff;}
    10%  {color: #0099ff;}
    50%  {color: #00ff00;}
    75%  {color: #ff3399;}
    100% {color: #6666ff;}
  
}

.usernameContainer-1fp4nu .title-eS5yk3 {
    animation: rainbow-is-pog 10s ease-in-out infinite;
}

.topPill-30KHOu {
  	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
animation: rainbow 2s ease infinite;
}
.title-29uC1r {
  	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}
.topic-TCb_qw {
background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}
.messagesPopout-24nkyi {
height: 814px;
}

<!----.selected-3s45Ha {
background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}--->
.akaBadge-1M-1Gw {
 	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}

.localBot-GrCgVt,.userPopout-3XzG_A {
  --local-bot-name: "Rainbow";
}

.localBot-GrCgVt .avatar-1BDn8e {
  content: url("https://avatars.mds.yandex.net/get-pdb/214908/22644894-2e18-47f2-b45a-958deea53385/orig") /* Change This */
}

.avatarWrapperNonUserBot-2DufN6 div svg foreignObject img {
  content: url("https://avatars.mds.yandex.net/get-pdb/214908/22644894-2e18-47f2-b45a-958deea53385/orig") /* Change This */
}

.localBot-GrCgVt .header-23xsNx .username-1A8OIy {visibility: hidden}
.localBot-GrCgVt .header-23xsNx .username-1A8OIy:after {content: var(--local-bot-name);visibility:visible;margin-left: -35px}
.userPopout-3XzG_A[aria-label="Clyde"] .headerTagUsernameNoNickname-2_H881 {visibility: hidden}
.userPopout-3XzG_A[aria-label="Clyde"] .headerTagUsernameNoNickname-2_H881:after {content: var(--local-bot-name);visibility: visible}
.userPopout-3XzG_A[aria-label="Clyde"] .headerTagNoNickname-ENx6no {margin-left: -35px}

.positionContainer-DEuh7X:not(.positionContainerEditingMessage-13cck-) .drawerSizingWrapper-17Mss4 .contentWrapper-SvZHNd #gif-picker-tab-panel, .positionContainer-DEuh7X:not(.positionContainerEditingMessage-13cck-) .drawerSizingWrapper-17Mss4 .contentWrapper-SvZHNd #emoji-picker-tab-panel {
    margin-top: -35px !important;
}

.nav-7UD0KD {
    height: 0px !important;
}

.emojiPickerInExpressionPicker-3IzIcv .categoryList-2Kzf65 {
    transform: rotate(-90deg) translateX(-111px) translateY(190px);
}
.drawerSizingWrapper-17Mss4 {
    height: 444px;
}
.listItems-1uJgMC .categoryItem-1D0nxC,
.unicodeShortcut-15J8Ck {
    transform: rotate(90deg);
}
.emojiPicker-3PwZFl {
    grid-template-rows: 46px auto calc(56px + 48px);
    grid-template-columns: 0 auto;
    position: relative;
}
.drawerSizingWrapper-27qFHb {
    max-width: 424px;
}

.resizeHandle-3NRr0z {
    display: none;
    cursor: default;
}
.emoji-AAbs8r {
    margin-left: -5px !important;
}

.wrapper-2Gsate.categoryList-2Kzf65{
    transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(-143px) translateY(190px);
    height: 430px;
}
.emojiPicker-3PwZFl {
    grid-template-rows: 46px auto calc(56px + 48px) !important;
    grid-template-columns: 0 auto !important;
    position: relative !important;
}
.emojiPicker-3PwZFl {
    height: 440px;
    width: 428px;
}
.badge-1Skb69 .numberBadge-2s8kKX .base-PmTxvP {
	 	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}
.item-3HknzM .item-PXvHYJ .themed-OHr7kt {
		 	background: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 2s ease infinite;
}
.container-3baos1 {
    background-color: #202225;
    border: 0.1px solid #36383a;
    border-radius: 10px;
}

.panels-j1Uci_ {
	background-color: #202225;
}
.spotify-seek-elements {
height: 1px !important;
}

.powercord-spotify.hover {
height: 75px !important;
}

.spotify-seek-duration {
  margin-top: -10px;
}

.spotify-seek-bar {
  margin-left: 7px;
}
.navList-2UtuhC {
    display: none;
}
.buttons-3JBrkn > .button-38aScr{
    display: none;
}
.textArea-12jD-V {
  background-color: #2c2f33;
  border-radius: 10px;
}
.fontSize16Padding-3Wk7zP {
 padding-left: 10px;
}
.scrollerBase-289Jih::-webkit-scrollbar-track {
    background-color: #2c2f33;
  border-radius: 10px;
}
.scrollerBase-289Jih::-webkit-scrollbar {
  background-color: #2c2f33;
  border-radius: 10px;
}
.status-1fhblQ, .description-2L932D {
    display: none;
}
.separator-2I32lJ {
    display: none;
}
.mask-1qbNWk.icon-1IxfJ2 {
    transform: scale(2.5);
    margin-left: 50%;
}
.customEmoji-2_2FwB, .clearStatusIcon-3-MDNF {
    transform: scale(1.5);
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column: 1/5;
    border-bottom: 2px solid rgba(255,255,255,0.25);
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
    transition: opacity 0.15s linear 0s;
}
.customText-tY5LJn {
    font-size: 15px;
}


.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div {
     transition: 0.2s;
}
.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div:hover {
     transition: 0.2s;
   transform: translateY(-0.75px);
}

#guild-header-popout .separator-2I32lJ {
  display: none;
}
#guild-header-popout .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#guild-header-popout .focused-3afm-j#guild-header-popout-premium-subscribe {
  background: linear-gradient(45deg, #f300ea, #ff73fa);
}
#guild-header-popout .focused-3afm-j#guild-header-popout-leave {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}

.lookOutlined-3sRXeN {
    border: None;
    border-radius: 5px;
}

.userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-right {
     margin-right: 0;
     margin-left: 0;
     max-width: 0;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s ease-in-out;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     max-width: 32px;
     opacity: 1;
     pointer-events: all;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left {
     margin-right: 8px;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     margin-left: 8px;
}

.profileBadgeVerifiedDeveloper-4WY75k {
  zoom: 120%;
  position: relative;
  top: -2px;
  margin-left: -2px;
}
.powercord-quickcss.popped-out {
  overflow: hidden;
  border: 1px solid var(--background-tertiary);
  background: var(--background-secondary)
    url("/assets/5ac53bbce4bc51dd14d5413bd7d1c77d.svg") no-repeat 50% 35%/30%;
}

.powercord-entities-manage-tabs {
  border: 1px solid var(--background-tertiary);
}

.powercord-quickcss-popped {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.powercord-quickcss {
  border-radius: 5px;
  border: 1px solid var(--background-tertiary);
}

.powercord-quickcss-popped::after {
  content: ".";
}

.powercord-quickcss-popped {
  width: 360px;
}
.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}
#---new-messages-bar {margin: 0.5px 20px;top: 0;height: 22px;border-top: 0}
#---new-messages-bar .content-1o0f9g {font-size: 14px;font-weight: 500;padding: 0 8px;background-color: var(--background-primary);border-radius: 0}
#---new-messages-bar span::before {content: "";position: absolute;width: 100%;top: 50%;left: 0;border-bottom: thin solid;border-color: var(--background-modifier-accent);background-color: #f04747;z-index: -1;opacity: 0.3 !important}
#---new-messages-bar .content-1o0f9g::after {border-color: currentColor;opacity: 0.7}
#---new-messages-bar .content-1o0f9g + .unreadPill-2HyYtt::after {display: none}
#---new-messages-bar .unreadPill-2HyYtt {
position: initial;height: 100%;
top: 0;color: #f04747;font-weight: 600;
padding: 0 8px;background-color: var(--background-primary);font-size: 0}
#---new-messages-bar .unreadPill-2HyYtt::after {
font-size: 14px;content: "NEW MESSAGES";margin-bottom: -2px}
#---new-messages-bar > span::before {border-color: currentColor;opacity: 0.7}
#---new-messages-bar .unreadPill-2HyYtt svg {display: none}
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
  content: "Theme Name (1.0.0)";
  display: block;
}
@keyframes rainbow-server-settings-button {
  from {color: #6666ff}
  25%  {color: #0099ff}
  50%  {color: #00ff00}
  75%  {color: #ff3399}
  100% {color: #6666ff}
}
.button-1w5pas {
  animation: rainbow-server-settings-button 10s ease-in-out infinite;
}
.powercord-quickcss{
  --editor-height: 40vw !important;
}
.CodeMirror-code {
  font-size: 1.1rem; 
}
.container-3w7J-x {
  	background-color: #202225;
}
.name-3l27Hl {
  display: flex; justify-content: center;
}
.header-2V-4Sw {
  background-color: #202225;
  height: 35px;
}
.bannerImage-3KhIJ6 {
  width: 300px;
}
