@import "https://luckfire.github.io/theme-source/src/css-compile/ThemeSource-Compiled.css";
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/MoreRoundedBorders/borders.css");
/* forked off Theme-Source by LuckFire, amazing person */
/* "I was thinking of making pretty much everything round though" well here you go kix - ruben */

/* popup/confirmation boxes */
.theme-dark .message-2qRu38 { background-color: #1A1C1E; }
.theme-dark .root-1gCeng { background-color: #1A1C1E; }
.theme-dark .footer-2gL1pp { background-color: #151718; }
/* reactions */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
/* upload popup */
.uploadModal-2ifh8j { background-color: #1A1C1E; }
.footer-3mqk7D { background-color: #151718; }
/* text channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #1A1C1E; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #151718; }
/* roundify more things */
.content-1x5b-n,
.layout-2DM8Md {
    border-radius: 50px;
}
.wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9,.powercord-snippet-apply:not(.applied) div:hover,.powercord-snippet-apply div  {
   border-radius: 24px !important;
}
​.item-1tOPte, .menu-3sdvDG.styleFlexible-wGDiIL { border-radius: 20px; }
.submenu-2-ysNh.menu-3sdvDG { border-radius: 21px; }
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j { left: -1.5px; }
.reactions-12N0jA .reaction-1hd86g {
  border-radius: 15px !important;
}

/* snippets taken from the powercord community, each having the id to the original message */

/* Have the # symbol glow white when the channel is unread - 818383883870666772 */
.modeUnread-1qO3K1>div>a>div>.icon-1DeIlz{
  color:#b9bbbe;
}
/* mobile jump to present bar - 821960077132038184 */ 
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: #0F1011;
    border-radius: 50%;
}
/* Add transparency & blur to the loading screen - 824102340079648779 */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
/* Blurred see through settings - 822405626021675029 */
.layers-3iHuyZ>.layer-3QrUeG:first-child{
  transform: scale(1) !important;
  opacity: 1 !important;
}
.layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
  background-color: rgba(0, 0, 0, 0.5)!important;
  backdrop-filter: blur(9px);
}
.contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP{
  background: transparent;
}
/* Fix for see through settings (css above) - 822407939050176547 */
.titleContainer-2CXtJo {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
.header-2mZ9Ov {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
/* Separate the channels & members list from chat. - 755166410824482937, 764063430076137493 */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}
.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}
.members-1998pB {
  border-radius: 15px 15px 0 0 !important;
}
.membersWrap-2h-GB4, .members-1998pB {
  left: 15px;
  margin-right: 10px
}
.chat-3bRxxu {
  background: var(--background-tertiary);
}
.chatContent-a9vAAp {
  background-color: var(--background-primary);
  border-radius: 0 15px 0 0 !important;
  left: 25px;
  margin-left: -25px
}
/* Minified search bar - 824363024701063198 */
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; transition: 0.25s; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.2); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1); transition: 0.25s;}
